
/*Arreglo de Panel*/
.PanelImg {
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}
.ImgPanel {
	width: 100%;
	height: 200px;
	margin-top: 30px;
	text-align: center;
	border: 3px solid #EC661E;
	border-radius: 15px;
	z-index: -1;
	margin-left: 15px;
}
.TextOpa{
	width: 89%;
	font-family: Josefin Sans;
	height: 60px;
	margin-top: -160px;
	text-align: center;
	background-color: black;
	color: white;
	opacity: .6;
	border: 1px solid gray;
	padding-top: 15px;
	margin-left: 25px;
	border-radius: 15px;

}
a {
	text-decoration: none;
}
.TextOpa:hover {
	background-color: white;
}
